:root{
  --primary:#2563eb;
  --dark:#0f172a;
  --gray:#64748b;
  --white:#ffffff;
  --p:#b8c0d4;
}

* {
    margin: 0; /* jarak luar */
    padding: 0; /* jarak dalam */
    box-sizing: border-box; /* ukuran lebih mudah dihitung */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark);
    color: var(--white);
    line-height: 1.6;
}

section {
    padding: 120px;
}

.container {
    padding: 42px;
}

/*  */

/* Navbar style */
header{
    position: fixed;               /* navbar selalu menempel di layar */
    top: 20px;                     /* jarak dari atas */
    left: 50%;                     /* geser ke tengah */
    transform: translateX(-50%);   /* benar-benar di tengah */

    width: 90%;
    max-width: 1200px;

    padding: 18px 35px;

    background: rgba(14,23,42,.6);
    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,.08);
    border-radius: 18px;

    z-index: 1000;

    /* Animasi ketika navbar muncul / hilang */
    transition: transform .35s ease;
}

header.hide{
    /* Geser navbar keluar layar ke atas */
    transform: translate(-50%, -140%);
}

nav {
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0;

    background:none;
    border:none;
}

nav ul {
    display: flex; /* list menjadi sejajar */
    list-style: none; /* menghilangkan titik bullet */
    gap: 38px;
}

nav a {
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}

nav h1{
  color: var(--white);

  font-size: 28px; /* ukuran tulisan */

  font-weight: bold; /* ketebalan tulisan */
}

nav img{
    width: 100px; /* lebar logo */
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    position: relative;
    transition: .3s;
}

nav ul li a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;

    width: 0;
    height: 2px;

    background: var(--primary);

    transform: translateX(-50%);
    transition: width .3s ease;
}

/* Warna tulisan */
nav ul li a:hover{
    color: var(--primary);
}

/* Garis bawah */
nav ul li a:hover::after{
    width: 100%;
}

/* Hero style */

#home {
    margin-bottom: 100px;
    background:
        radial-gradient(
            circle at top,
            rgba(37,99,235,.35) 0%,
            rgba(37,99,235,.12) 35%,
            transparent 68%
        ),
        #0f172a;
}

.hero .container{
    width: 90%; /* lebar konten */
    max-width: 1200px; /* batas maksimal lebar */
    margin: 0 auto; /* membuat container berada di tengah */
    margin-top: 180px;
    margin-bottom: 100px;
}

.hero {
  padding: 90px 20px 120px; /* jarak isi section */
  text-align: center; /* posisi teks di tengah */
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.2;
    animation: fadeUp 0.8s ease; /* Menjalankan animasi bernama fadeUp selama 1 detik. */
}

.hero p {
    color: var(--gray);
    max-width: 650px; /* lebar maksimal */
    font-weight: 250;
    margin: 0 auto 30px; /* tengah + jarak bawah */
    animation: fadeUp 1s ease;
}

/* Ini adalah cetakan animasi. */
@keyframes fadeUp{
    from{
        /* Awalnya tidak terlihat (opacity:0) dan posisinya 30px lebih ke bawah. */
        opacity:0;
        transform:translateY(30px);
    }

    to{
        /* Akhirnya terlihat penuh (opacity:1) dan kembali ke posisi normal */
        opacity:1;
        transform:translateY(0);
    }
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:40px;
}

.btn-primary,
.btn-secondary{
    text-decoration:none;
    padding:16px 36px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;
}

.btn-primary{
    background:#2962ff;
    color:white;
}

.btn-primary:hover{
    transform:translateY(-5px);
}

.btn-secondary{
    border:1px solid #2962ff;
    color:white;
}

.btn-secondary:hover{
    background:#2962ff;
    transform:translateY(-5px);
}

.hero .btn{
    box-shadow:0 10px 30px rgba(37,99,235,.35);
}

.hero-stats{
    display:flex;
    justify-content:center;
    gap:70px;
    margin-top:70px;
    transition:.3s;
}

.hero-stats:hover{
    transform:translateY(-5px);
}

.stat-item{
    text-align:center;
}

.stat-item h3{
    color:white;
    font-size:32px;
    margin-bottom:8px;
    animation: fadeUp 1s ease;
}

.stat-item p{
    color:#8b8fa3;
}


/* About Style */

#about {
    scroll-margin-top: 120px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 80px 0;
}

.about-text {
    flex: 1; /* mengambil ruang */
    max-width: 500px;
}

.about-image {
    flex: 1.2;
    max-width: 550px;
    box-shadow: 0 15px 40px rgba(0,0,0,.25);
}

.about-image img {
    width: 100%;
    display: block;
    border-radius: 20px;
    transition: .3s;
}

.about-image img:hover{
    transform: scale(1.03);
}

.about-container{
    max-width: 1140px;
    margin: 0 auto;
}

.about h2 {
    font-size: 42px;
    color: var(--white);
    margin-bottom: 10px;
}

.about p {
    font-size: 18px;
    color: #b8c0d4;
    line-height: 1.8;
    max-width: 550px;
    margin-bottom: 20px;
}

.about-btn{
    display: inline-block;
    margin-top: 30px;
    padding: 14px 28px;
    background: var(--primary);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    transition: .3s;
}

.about-btn:hover{
    background: #1d4ed8;
    transform: translateY(-2px);
}

/* Services Style */

#services {
    padding: 70px 0;
}

.services-header {
    text-align: center;
    margin-bottom: 70px;
}

.services-header h2 {
    font-size: 42px;
    color: var(--white);
    margin-bottom: 10px;
}

.services-header p {
    max-width: 1100px;
    font-size: 18px;
    margin: 0 auto;
    color: #b8c0d4;
    line-height: 1.8;
}

.services-grid {
    /* Mengubah elemen menjadi Grid Container, sehingga child di dalamnya bisa diatur dalam baris (row) dan kolom (column) */
    display: grid;
    /* Membuat 2 kolom yang lebarnya sama. */
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 100px;
}

.services-card {
    border:1px solid rgba(255,255,255,.05);
    background: #111827;
    padding: 40px;
    border-radius: 20px;
    transition: .3s;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.services-card:hover{
    /* Geser elemen ke atas 8 pixel */
    transform:translateY(-8px);
    border-color: rgba(37, 99, 235, .7);
    box-shadow: 0 20px 50px rgba(37,99,235,.12);
}

.services-icon {
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(37,99,235,.15);

    border-radius: 50%;

    margin-bottom: 25px;
}

.services-card:hover .services-icon{
    transform:scale(1.08);
}

.services-icon img {
    width: 36px;
}

.services-card h3 {
    color: var(--white);
    font-size: 24px;
    margin-bottom: 15px;
}

.services-card p {
    color: var(--gray);
    line-height: 1.8;
    padding-bottom: 24px;
}

.services-link {
    display:inline-flex;
    align-items:center;
    gap:8px;

    color: var(--primary);
    text-decoration:none;
    font-weight:600;

    transition:.3s;
}

.services-link:hover {
    color: white;
    gap:14px;
}

.services-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 50px rgba(0,0,0,.3);
}


/* Tetimonial Style */

#testimonial{
    padding: 130px 0; /* Jarak atas & bawah section */
    scroll-margin-top: 130px;
}

.testimonial-grid{
    display: grid; /* Menjadikan child tersusun dalam grid */

    grid-template-columns: repeat(3, 1fr); /* Membuat 3 kolom dengan lebar sama */

    gap: 30px; /* Jarak antar card */

    margin-top: 5px; /* Jarak dari judul section */

    padding: 40px;
}

.testimonial-card{

    background: var(--secondary); /* Warna background card */

    padding: 30px; /* Ruang di dalam card */

    border-radius: 20px; /* Sudut card membulat */

    border: 1px solid rgba(255,255,255,.08); /* Border tipis */

    transition: .3s; /* Animasi hover */
}

.testimonial-card:hover{

    transform: translateY(-8px); /* Card naik saat hover */

    border-color: var(--primary); /* Border berubah menjadi biru */

    box-shadow: 0 20px 50px rgba(37,99,235,.15); /* Shadow halus */
}

.testimonial-text{

    color: var(--gray); /* Warna paragraf */

    line-height: 1.8; /* Jarak antar baris */

    margin-bottom: 30px; /* Jarak ke author */
}

.testimonial-author{

    display: flex; /* Foto dan teks sejajar */

    align-items: center; /* Posisi tengah secara vertikal */

    gap: 15px; /* Jarak foto dan nama */
}

.testimonial-author img{

    width: 60px; /* Lebar foto */

    height: 60px; /* Tinggi foto */

    border-radius: 50%; /* Membuat foto menjadi bulat */

    object-fit: cover; /* Agar foto tidak gepeng */
}

.testimonial-author h4{

    color: var(--white);

    margin-bottom: 5px;
}

.testimonial-author span{

    color: var(--gray);

    font-size: .9rem;
}

.section-title {
    padding: 40px;
}

.section-title h2 {
    font-size: 42px;
}

.section-title p {
    font-size: 18px;
    color: #b8c0d4;
}

/* Contact Style */

#contact{
    padding:120px 0;
}

/* Container 2 kolom */
.contact-wrapper{

    /* Mengaktifkan Flexbox */
    display:flex;

    /* Memberi jarak antar kolom */
    gap:80px;

    /* Kedua kolom sama tinggi */
    align-items:center;
}


/* Kolom Form */


.contact-form{

    /* Lebar memenuhi sisa ruang */
    flex:1;
}

.contact-form h2{

    font-size: 42px;

    margin-bottom: 10px;
}

.contact-form p{

    color: var(--p);

    line-height:1.8;

    margin-bottom:40px;
}

/* Jarak tiap input */
.form-group{

    margin-bottom:25px;
}

/* Label */
.form-group label{

    display:block;

    margin-bottom:10px;

    font-weight:600;
}

/* Input dan textarea */
.form-group input,
.form-group textarea{

    width:100%;

    padding:18px 20px;

    border-radius:12px;

    border:1px solid rgba(255,255,255,.08);

    background:#1A2238;

    color:white;

    outline:none;

    transition:.3s;
}

/* Tinggi textarea */
.form-group textarea{

    height:170px;

    resize:none;
}

/* Saat diklik */
.form-group input:focus,
.form-group textarea:focus{

    border-color:var(--primary);

    box-shadow:0 0 18px rgba(37,99,235,.25);
}

/* Tombol */
.contact-form button{

    padding:18px 38px;

    border:none;

    border-radius:999px;

    background:var(--primary);

    color:white;

    cursor:pointer;

    transition:.3s;
}

.contact-form button:hover{

    transform:translateY(-3px);
}


/* Kolom Informasi */


.contact-info{

    flex:1;

    text-align:center;

    padding:50px;

    background:#151D32;

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;
}

/* Logo */
.contact-info img{

    width:170px;

    margin-bottom:30px;
}

.contact-info h3{

    font-size:34px;

    margin-bottom:18px;
}

.contact-info p{

    color:var(--p);

    line-height:1.8;

    margin-bottom:35px;
}

/* Info kontak */
.info-item{

    margin-bottom:18px;

    color:var(--white);

    font-size:18px;
}

/* Footer */

footer{
    /* Jarak atas bawah footer */
    padding:70px 0 25px;
    /* Warna footer */
    background:#101728;
    /* Garis atas */
    border-top:1px solid rgba(255,255,255,.08);
}

/* Layout footer */
.footer-content{
    /* Mengaktifkan Grid */
    display:grid;
    /* 4 kolom */
    grid-template-columns:2fr 1fr 1fr 1fr;
    /* Jarak antar kolom */
    gap:60px;
    /* Jarak bawah */
    margin-bottom:50px;
}


/* Brand */
.footer-brand img{
    /* Ukuran logo */
    width:180px;
    margin-bottom:25px;
}

.footer-brand p{
    color:var(--gray);
    line-height:1.8;
    margin-bottom:30px;
    max-width:320px;
}

/* Tombol */
.footer-btn{
    display:inline-block;
    padding:15px 30px;
    background:var(--primary);
    color:white;
    text-decoration:none;
    border-radius:999px;
    transition:.3s;
}

.footer-btn:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 25px rgba(37,99,235,.35);
}


/* Judul Kolom */
.footer-links h3,
.footer-contact h3,
.footer-social h3{
    margin-bottom:22px;
    font-size:20px;
}


/* Menu */
.footer-links ul{
    list-style:none;
}

.footer-links li{
    margin-bottom:15px;
}

.footer-links a{
    color:var(--gray);
    text-decoration:none;
    transition:.3s;
}

.footer-links a:hover{
    color:var(--primary);
    padding-left:8px;
}


/* Contact */
.footer-contact p{
    color:var(--gray);
    margin-bottom:18px;
    line-height:1.6;
}


/* Social */
.footer-social{
    display:flex;
    flex-direction:column;
}

.footer-social a{
    color:var(--gray);
    text-decoration:none;
    margin-bottom:18px;
    transition:.3s;
}

.footer-social a:hover{
    color:var(--primary);
    transform:translateX(8px);
}

/* Footer Bottom */
.footer-bottom{

    border-top:1px solid rgba(255,255,255,.08);

    padding-top:25px;

    text-align:center;
}

.footer-bottom p{

    color:var(--gray);

    font-size:15px;
}